
.relative.isolate.z-10.shadow
  .bg-white.py-5
    .mx-auto.max-w-7xl.px-6(class='lg:px-8')
      .dropdown
        .btn.m-1(tabindex='0' role='button') 
          | Learn more
          svg.h-5.w-5(viewBox='0 0 20 20', fill='currentColor', aria-hidden='true')
            path(fill-rule='evenodd', d='M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z', clip-rule='evenodd')
        
        ul.dropdown-content.menu.p-2.shadow.bg-base-100.rounded-box.w-52.z-10(tabindex="0")
          each page in search.pages('learn')
            - var url = prod ? basePath+page.url : page.url
            li
              a(href=url)= page.name