head
    title Learn markdown-it
    base(href=basePath)
    link(rel="stylesheet", href="styles.css")

include header.pug

.container.space-y-10.my-10.flex.flex-col.items-center.mx-auto
  .flex.gap-4
    button.block.btn.btn-lg.btn-wide.btn-primary(type="button", onclick="presentJSON()") Run Pipedown
    #htmldrawer.drawer.drawer-end.hidden
      input#my-drawer-4.drawer-toggle(type="checkbox")
      .drawer-content
        //- Page content here
        label(for="my-drawer-4", class="drawer-button btn btn-primary btn-lg btn-wide") Render HTML
      .drawer-side.z-20
        label(for="my-drawer-4", aria-label="close sidebar", class="drawer-overlay")
        #htmldrawerbody.p-4.min-h-full.bg-base-200.text-base-content.space-y-6(class="w-11/12 md:w-1/2")
          
  
  .prose(class="prose-2xl")
      | !{content}

script(type="importmap").
  {
    "imports": {
      "/": "#{basePath}",
      "./": "#{basePath}",
      "evalPipedown": "./pd/scripts/evalPipedown/index.esm.js",
      "presentOutput": "./pd/scripts/presentOutput/index.esm.js",
      "presentMarkdown": "./pd/scripts/presentMarkdown/index.esm.js"
    }
  }
script(type="module").
  import presentOutput from "presentOutput";
  import presentMarkdown from "presentMarkdown";
  window.presentJSON = () => presentOutput.process().then(() => presentMarkdown.process());

  presentMarkdown.process();
